.card{
   
    margin: 100px;
    border: none;
   /* height: 400px;*/
    width: 260px;
    align-items: stretch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-body{
    text-align: center;
}
.card-img-top{
    height: 20vh;
    width: 100%;
    object-fit: cover;
    
}
.addToCart{
    text-align: center;
    /*margin: 17% 30% 20% 30%;*/
    
}
.product-container{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
 
}
.addToCart{
    border-radius: 100px;
}